<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
      <div class="container d-flex flex-column">

          <h1 class="heading-primary">One-way ticket:</h1>
          <form class="container" action="/results" method="post">
            <div class="row">
              <div class="col-sm">
                <div class="input-group flex-nowrap">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="From: Paris, Marseille"
                    aria-label="city-from"
                    aria-describedby="addon-wrapping"
                    name="location"
                  />
                </div>
              </div>
              <div class="col-sm">
                  <div class="input-group flex-nowrap">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="To: Lille, Nantes"
                        aria-label="ciy-to"
                        aria-describedby="addon-wrapping"
                        name="destination"
                      />
                    </div>
              </div>
              <div class="col-sm">
                  <div class="input-group date" data-provide="datepicker">
                      <input type="date" class="form-control" name="date">
                      <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th"></span>
                      </div>
                  </div>
              </div>
              
              <div class="col-sm"><button type="submit" class="btn btn-danger">Go</button></div>
            </div>
          </form>
      </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
