<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
      <a class="navbar-brand" href="#"><img src="/images/train.png" alt=""> Ticketac</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline my-2 my-lg-0 ml-auto">
          <a  href="#" class="login mr-3 text-decoration-none" > Connection </a>
          <a  href="#" class="login text-decoration-none"> My last trips </a>
        </form>
      </div>
    </nav>

    <div class="home">

      <div class="row mt-5">
        
        <!-- SIGN IN AREA -->
        <div class="col-12 col-lg-6 text-center">

          <div class="formArea">

            <h4 class="titleForm">Sign-in:</h4>

            <form action="/users/sign-in" method="POST">
              <div class="form-group">
                <input name="emailFromFront" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <input name="passwordFromFront" type="password" class="form-control" placeholder="Enter password">
              </div>

              <button type="submit" class="btn btn-danger">Confirm</button>
            </form>

          </div>

        </div>


        <!-- SIGN UP AREA -->
        <div class="col-12 col-sm-6 text-center">

          <div class="formArea">
            <h4 class="titleForm">Sign-up:</h4>

            <form action="/users/sign-up" method="POST">
              <div class="form-group">
                <input name="NameFromFront" type="text" class="form-control" placeholder="Name">
              </div>
              <div class="form-group">
                <input name="FirstNameFromFront" type="text" class="form-control" placeholder="FirstName">
              </div>
              <div class="form-group">
                <input name="emailFromFront" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <input name="passwordFromFront" type="password" class="form-control"  placeholder="Enter password">
              </div>

              <button type="submit" class="btn btn-danger">Confirm</button>
            </form>
          </div>

        </div>



      </div>
    </div>
  </body>
</html>
