<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style-tickets.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <div class="tickets">
        <h3 class="mb-1">Tickets available on 02/08</h3>
        <div class="ticket p-1 mb-1">
          <p class="ticket-city">Paris / Lille</p>
          <p class="ticket-hour">train departure at : 15:00 pm</p>
          <p class="ticket-price">93 €</p>
          <a href="#" class="btn btn-primary">Ok</a>
        </div>
        <div class="ticket p-1 mb-1">
          <p class="ticket-city">Paris / Lyon</p>
          <p class="ticket-hour">train departure at : 6:53 am</p>
          <p class="ticket-price">67 €</p>
          <a href="#" class="btn btn-primary">Ok</a>
        </div>
      </div>
    </div>
  </body>
</html>
