body {
  padding: 50px;
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #d0e4f7;
  background: -moz-linear-gradient(top, #d0e4f7 0%, #73b1e7 35%, #0a77d5 76%);
  background: -webkit-linear-gradient(
    top,
    #d0e4f7 0%,
    #73b1e7 35%,
    #0a77d5 76%
  );
  background: linear-gradient(to bottom, #d0e4f7 0%, #73b1e7 35%, #0a77d5 76%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#0a77d5',GradientType=0 );
  height: 100vh;
  color: white;
}

a {
  color: #00b7ff;
}

/* Styling homepage */
.heading-primary {
  padding-top: 60px;
  font-size: 43px;
}
